<?xml version='1.0' encoding='utf-8'?>
<plugin id="timezynk-cordova-notification-plugin" version="1.4.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>TimeZynk Notification Plugin</name>
    <description>Handle FCM and APNS notifications</description>
    <license>Copyright TimeZynk AB 2022</license>

    <engines>
        <engine name="cordova" version=">=11.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="cordova-ios" version=">=6.2.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TZNotification">
                <param name="ios-package" value="TZNotification"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/TZNotification.h"/>
        <source-file src="src/ios/TZNotification.m" compiler-flags="-fno-objc-arc" />

        <header-file src="src/ios/AppDelegate+TZNotification.h"/>
        <source-file src="src/ios/AppDelegate+TZNotification.m"/>

        <header-file src="src/ios/NSData+Conversion.h"/>
        <source-file src="src/ios/NSData+Conversion.m"/>
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesVersion" value="4.2.0" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TZNotification">
                <param name="android-package" value="com.timezynk.cordova.notification.GCMPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="com.timezynk.cordova.notification.FCMListenerService"
                android:exported="false"
            >
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/FCMListenerService.java" target-dir="src/com/timezynk/cordova/notification" />
        <source-file src="src/android/GCMPlugin.java" target-dir="src/com/timezynk/cordova/notification" />

        <framework src="platform('com.google.firebase:firebase-bom:31.0.1')"/>
        <framework src="com.google.firebase:firebase-messaging"/>
        <framework src="androidx.annotation:annotation:1.5.0"/>
        <framework src="com.android.support:support-v13:28.0.0"/>
    </platform>

</plugin>
